@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: white;
  color: black;
}

.list-rows {
  --list-grid-cols: minmax(0, auto) 1fr;
  position: relative;
  display: grid;
  grid-auto-flow: column;
  gap: calc(0.25rem * 4);
  border-radius: var(--radius-box);
  padding: calc(0.25rem * 4);
  word-break: break-word;
  /* grid-template-columns: var(--list-grid-cols); */
}
